* {
    padding: 0;
    margin: 0;
}

h2,
div {
    text-align: center;
    margin-bottom: 20px;
}

.checkbox {
    position: relative;
    left: -110px;
}

button {
    width: 330px;
    height: 40px;
    background-color: rgba(0, 0, 255, 0.687);
    color: white;
    border-radius: 5px;
}

.information {
    font-size: 14px;
}

a {
    padding: 20px;
    color: rgba(0, 0, 255, 0.484);
}

img {
    margin-bottom: 20px;
    position: relative;
    left: 740px;
}